@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <input type="submit" name="labelValue" value="投稿テスト" />
    </form>
</div>
